# Big Mac Activities
Let's take a look at a familiar data set (the cost of big macs around the world) and analyse it using Jupyter Notebook and Pandas. This skillset will **_directly_** link to your assessment task.

Complete each activity stipulated in the comments by looking at the *even-more-python-for-beginners* provided on GitHub.

## Series
Complete the following pandas Series following the instructions in the comments:

In [1]:
import pandas as pd

#Create a pandas Series which contains 'Australia', 'Britain', 'New Zealand' and 'United States' and store them on separate lines in a variable, 'countries'. 



#Print the series

In [2]:
#Output Britain from the list using its index

In [3]:
#Iterate through all values in countries series using a for loop

## DataFrame
Usually we work with two-dimensional arrays. We store them using **DataFrame** in pandas. 

### Activity
Let's use a DataFrame to store more meaningful values than our countries series. Let's store the following values in a Data Frame called 'big_mac':

**Headings:** Country, Local Price, AUD Price
- `'Australia', 7.45, 7.45`
- `'Britain', 4.19, 0.0`
- `'Japan', 450, 0.0`
- `'New Zealand', 7.1, 0.0`
- `'United States', 5.58, 0.0`

**NOTE:** You'll need to look online at current rates to convert Britain, New Zealand, Japan and United States' local prices to AUD.

In [4]:
#Add a pandas DataFrame called 'big_mac' with the above values

#Print the DataFrame

big_mac = pd.DataFrame([
                ['Australia' ,7.45 , 7.45],
                ['Britain', 4.19 , 7.96],
                ['Japan', 450 , 4.25],
                ['New Zealand', 7.1 , 6.52],
                ['United States', 5.58 , 8.37],
])

big_mac

               0       1     2
0      Australia    7.45  7.45
1        Britain    4.19  7.96
2          Japan  450.00  4.25
3    New Zealand    7.10  6.52
4  United States    5.58  8.37

## Exploring pandas DataFrames

In [5]:
#Print only the first two rows of the big_mac dataframe
big_mac.head(2)

           0     1     2
0  Australia  7.45  7.45
1    Britain  4.19  7.96

In [6]:
#Print only the last four rows of the big_mac dataframe
big_mac.tail(4)

               0       1     2
1        Britain    4.19  7.96
2          Japan  450.00  4.25
3    New Zealand    7.10  6.52
4  United States    5.58  8.37

In [7]:
#Print the number of rows and columns in the big_mac dataframe
big_mac.shape

(5, 3)

In [8]:
#Print some detailed information about the big_mac dataframe
big_mac.info

<bound method DataFrame.info of                0       1     2
0      Australia    7.45  7.45
1        Britain    4.19  7.96
2          Japan  450.00  4.25
3    New Zealand    7.10  6.52
4  United States    5.58  8.37>

## Querying DataFrames
Let's explore how we request data from a pandas DataFrame.

In [9]:
#Request and output the 'Country' and 'AUD Price' columns from the big_mac DataFrame.
big_mac.iloc[0,0]

'Australia'

In [10]:
#Use iloc to request the third row, all columns
big_mac.iloc[3, :]

0    New Zealand
1            7.1
2           6.52
Name: 3, dtype: object

In [15]:
#Use iloc to request all rows, but just the 'Country' and 'AUD Price' columns

big_mac.iloc[:,0:2]

               0       1
0      Australia    7.45
1        Britain    4.19
2          Japan  450.00
3    New Zealand    7.10
4  United States    5.58

In [16]:
#Use loc to do the same thing as the previous (Country and AUD Price all rows)
big_mac.loc[:,['0', '1']]

KeyError: "None of [Index(['0', '1'], dtype='object')] are in the [columns]"